{% extends "profile/header.html" %}
{% load static %}
{% block content %}
      <div class="container">

<div class="profile-page tx-13">
    <div class="row">

        <div class="col-12 grid-margin">
            <div class="profile-header">
                <div class="cover">
                    <div class="gray-shade"></div>
                    <figure>
                        <img src="https://staticg.sportskeeda.com/editor/2022/10/6298c-16668805486397-1920.jpg?w=840 class="img-fluid" alt="profile cover">
                    </figure>

                    <div class="cover-body d-flex justify-content-between align-items-center">
                        <div>

                            {% if person.username != user.username %}
                                <a href="{% url 'add_testimonial' user_to_username=user.username %}"><input id="testimonial-btn" type="submit" value="Add Testimonial"></a>
                            {% else %}
                                <a href="{% url 'create_post' user %}">
                                    <input id="post-btn" type="submit" value="Create Post">
                                </a>
                            {% endif %}
                            <img class="profile-pic" src="{% static 'profile/profile.png' %}" alt="profile">


                            <span class="profile-name">{{user.username}}</span>
                        </div>
                    </div>
                </div>
                <div class="header-links">

                </div>
            </div>
        </div>
    </div>
    <div class="row profile-body">




        <!-- left wrapper start -->
        <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
            <div class="card rounded">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h6 class="card-title mb-0">About</h6>
                    </div>
                    <p>Hi! I'm Amiah the Senior UI Designer at Vibrant. We hope you enjoy the design and quality of Social.</p>
                    <div class="mt-3">
                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Joined:</label>
                        <p class="text-muted">November 15, 2015</p>
                    </div>
                    <div class="mt-3">
                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Lives:</label>
                        <p class="text-muted">New York, USA</p>
                    </div>
                    <div class="mt-3">
                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Email:</label>
                        <p class="text-muted">{{user.email}}</p>
                    </div>
                    <div class="mt-3">
                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Website:</label>
                        <p class="text-muted">www.nobleui.com</p>
                    </div>

                </div>
            </div>
          <div id="gallery-section">
                    <div class="card rounded" style="background-image: linear-gradient( #e52e71, #ff8a00)">
                        <div class="card-body">
                            <h6 class="card-title">Gallery</h6>
                            <div class="latest-photos">
                                <div class="row">
                                    <div class="col-md-4">
                                        <figure>
                                            <img class="gallery" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <img class="gallery" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <img class="gallery" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <img class="gallery" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <img class="gallery" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <img class="gallery" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <img class="gallery" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure">
                                            <img class="gallery" src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <img class="gallery" src="https://bootdey.com/img/Content/avatar/avatar9.png" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- left wrapper end -->
        <div class="col-md-8 col-xl-6 middle-wrapper">
        <div class="row">
            {% for post in post %}
                <div class="col-md-12 grid-margin">
                    <div class="card rounded">
                        <div class="card-header">
{#                            <a href="{% url 'profile' username=post.user.username %}">#}
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="img-xs rounded-circle" src="{{ post.user.profile.picture.url }}" alt="">
                                        <div class="ml-2">
                                            <p>{{ post.user.username }}</p>
                                            <p class="tx-11 text-muted">{{ post.createdAt }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'post_detail' post.id %}">
                                <p class="mb-3 tx-14">{{ post.content }}</p>
                                {% if post.post_type == "picture" and post.picture %}
                                    <img class="img-fluid" src="{{ post.picture.url }}" alt="">
                                {% elif post.post_type == "video" and post.video %}
                                    <video controls>
                                        <source src="{{ post.video.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                {% else %}
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center text-muted" style="text-decoration: none">
                                    <i class="far fa-thumbs-up"></i> Like
                                </div>
                                <div class="d-flex align-items-center text-muted" style="text-decoration: none">
                                    <i class="far fa-comment"></i> Comment
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

               <!-- right wrapper start -->
        <div class="d-none d-xl-block col-xl-3 right-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="card rounded">
                        <div class="card-body">
                            <a href="{% url 'view_testimonials' user_to_username=user.username %}">Testimonials</a>
                            <p>Number of testimonials: {{ testimonials_received|length }}</p>
                            <div class="testimonials-scrollable-container">
                                {% for testimonial in testimonials_received %}
                                    <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                                    <a href="{% url 'testimonial_detail' user_to_username=testimonial.user_to.username testimonial_id=testimonial.id %}">
                                        <div class="d-flex align-items-center hover-pointer">
                                            <img class="img-xs rounded-circle"
                                                 src="{{ testimonial.user_from.profile_image.url }}"
                                                 alt="{{ testimonial.user_from.username }}">
                                            <div class="ml-2">
                                                <p>{{ testimonial.user_from.username }}</p>
                                                <p class="tx-11 text-muted">{{ testimonial.content | truncatechars:30 }}</p>
                                            </div>
                                        </div>
                                    </div>
                                     </a>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- right wrapper end -->

    </div>
</div>
</div>

{% endblock %}
