{% extends "profile/header.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
            <div class="col" id="profile">
                <img src="{% static 'profile/profile.png' %}" id = "profilepic">
                <div id="name">
                    <h1>{{user.username}}</h1>
                    <p>Duane</p> <br> <br>
                    <a href=" ">More Info</a>
                </div>
                <div id="edit">
                    <a href=" " class = "btn btn-success btn-lg mt-3" id = "button">Edit Profile</a>
                </div>
            </div

            </div>
            <div class="row justify-content-end">
    <div id="content" class="col-md">
      Content
    </div>
    <div id="testimonials" class="col-3">
      Testimonials
    </div>
  </div>
    </div>
{#    #}
{% endblock %}