{% extends "profile/header.html" %}
{% load static %}
{% block content %}
<div class="profile-page tx-13">
    {% if users|length > 0 %}
            <section class="projectsList">
                <div class="grid grid--three">
                    {% for user in users %}
                        <div class="container">
                            <div class="row">

        <div class="col-12 grid-margin">
            <div style="background: {{ user.backgroundColor}}; border-radius: 5px;" class="row" id="upper-profile">

        <div class="col-12 grid-margin">
            <a style="color: #24262e; text-decoration: none;" href="{% url 'profile' user.username%}">
            <div style="background: {{ user.color}}"  class="profile-header">
                <div style="background: {{ user.color}}" class="cover">
                    <div class="gray-shade"></div>
                    <figure>
                        <img src="{{ user.profile_cover.url }}" class="img-fluid" alt="profile cover">
                    </figure>

                    <div class="cover-body d-flex justify-content-between align-items-center">
                        <div>
{##}
{#                            {% if person.username != user.username %}#}
{#                                <a href="{% url 'add_testimonial' user_to_username=user.username %}"><input style="background: {{ user.color}}"  class="testimonial-btn" type="submit" value="Add Testimonial"></a>#}
{#                            {% else %}#}
{#                                <a href="{% url 'create_post' user %}">#}
{#                                    <input  style="background: {{ user.color}}" class="post-btn" type="submit" value="Create Post">#}
{#                                </a>#}
{#                            {% endif %}#}
                            <img class="profile-pic" src="{{ user.profile_image.url }}" alt="profile">


                            <span class="profile-name">{{user.username}}</span>
                        </div>
                    </div>
                </div>
                <div class="header-links">

                </div>
            </div>
            </a>
        </div>
    </div>
</div>


                    {% endfor %}
                </div>
            </section>
    {% else  %}
    <h3> </h3>
    {% endif %}
</div>
    <style>
    body{
        background: #181414;
    }
    </style>
{% endblock %}

