{% extends "profile/header.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Liked By</h1>
    <div class="liked-users-container">
        {% if liked_users %}
            {% for user in liked_users %}
                <a href="{% url 'profile' username=user %}" class="liked-user-card">
                    <div class="liked-user-profile-image">
                        <img src="{{ user.profile_image.url }}" alt="">
                    </div>
                    <div class="liked-user-username">
                        {{ user }}
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h4>No users have liked this post yet.</h4>
        {% endif %}
    </div>
</div>
{% endblock %}
