{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabster Sign up</title>
  <link rel="stylesheet" href="{% static 'register/style.css' %}">
</head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
      <form class="form-register" method="POST">
      {% csrf_token %}
      <div class="input-box">
          <label>
              <input type="text" name="username" placeholder="Username" required>
          </label>
      </div>

      <div class="input-box">
          <label>
              <input type="email" name="email" placeholder="Email Address" required>
          </label>  <!-- Use 'email' input type -->
        <i class="icon fas fa-envelope"></i>
        <i class="error error-icon fas fa-exclamation-circle"></i>
      </div>

      <div class="input-box">
          <label>
              <input type="password" name="password1" placeholder="Create password" required>
          </label>
      </div>

      <div class="input-box">
          <label>
              <input type="password" name="password2" placeholder="Confirm password" required>
          </label>
      </div>

          {% for field in registration_form %}
          <p>
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
          </p>
            {% endfor %}
      {% if registration_form.non_field_errors %}
      <div style="color: red">
          <p>{{ registration_form.non_field_errors }}</p>
        </div>
        {% endif %}

      <div class="policy">
          <label>
              <input type="checkbox" name="accept_terms" required>
          </label>  <!-- Add a name to the checkbox -->
        <h3>I accept all terms & condition</h3>
      </div>

      <div class="input-box button">
        <input type="submit" value="Register Now">
      </div>

      <div class="text">
        <h3>Already have an account? <a href="{% url 'login' %}">Login now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>
