:root{
	--mainColor:#eaeaea;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--btnColor: black;
}


html, body{
	padding: 0;
	margin: 0;
}

h1, h3, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

label, input, textarea{
	color: var(--mainText);
	font-family: 'Roboto Mono', monospace;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

body {
	background-color: #FE8116;
}

.Testimonial{
	background-color: #FE8116;
	border-bottom: 1px solid #FE8116 ;
	overflow: auto;
}

#rate {
	padding-left: 15px;
}

.testimonial-container{
	padding-top: 50px;
	width: 1200px;
	margin: 0 auto;
}

#testimonial-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 3px solid black;
	padding: 15px;
	border-radius: 10px;
	background-color: #FE8116;
	margin-bottom: 50px;

	-webkit-box-shadow: 20px 20px 16px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 20px 20px 16px 3px rgba(0,0,0,0.75);
	box-shadow: 20px 20px 16px 3px rgba(0,0,0,0.75);
}

#testimonial-form label{
	line-height: 2.7em;
}

#testimonial-form textarea{
	min-height: 130px;
	font-size: 14px;
}

.testimonial-field{
	width: 99%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-color: var(--btnColor);
	border: none;
}

@media screen and (max-width: 1200px){
	.post-container{
		width: 95%;
	}
}

